ul
  li
    a(title="twitter", href="http://www.twitter.com/bloomingbridges") 
      span tweets
  li
    a(title="GitHub", href="http://www.github.com/bloomingbridges") 
      span code
  li
    a(title="linkedIn", href="http://www.linkedin.com/profile/view?id=67694136") 
      span peers
  li
    a(title="tumblr", href="http://bloomingbridges.tumblr.com") 
      span pretties
  li
    a(title="last.fm", href="http://last.fm/user/mortipeng") 
      span tunes